.information-box {
  width: 100%;
  background-color: rgb(200, 91, 243);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  color: black;
  font-size: 15px;
  opacity: 70%;
  border: 1px solid rgb(65, 0, 90);
  color: white;
  letter-spacing: 1px;
}

.information-text {
  opacity: 100%;
}

.dark .information-text {
  color: black;
}

.example-and-install-button {
  text-transform: uppercase;
  text-align: center;
  width: 45%;
  background-color: rgba(224, 224, 224, .6);
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

