.user-information {
  color: gray
}

.user-information-title {
  color: black
}

/*.app-icon {*/
/*  max-height: 122px;*/
/*}*/

.logout {
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: red;
  font-weight: bold;
  margin: 0px 10px 0px 10px
}

.dark .user-information-title {
  color: rgb(255, 255, 255)
}

.dark .user-information {
  color: rgba(212, 212, 212, 0.8)
}

/* Switch */

.switch-box {
  margin-top: 11px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}